.double-border-outer
  .double-border-inner.post-content-container
    %h2= blog_post.title
    %p.timestamp= blog_post.created_at
    %img.hero-image{src: blog_post.hero_image}
    = blog_post.html_body.html_safe 