= render "common/navbar"

#page-container
  .header-container
    %h1 Dev Blog
    %p Consciousness, now streaming.

  #blog-container
    - blog_posts.each do |post|
      = render "blog_post", blog_post: post
